html {
	background-color: #171717;
}

body {
	height: 100%;
	background-color: #171717;
}

#mainWrapper {
	height: 100%;
	background-image: -webkit-gradient(linear, right bottom, right top, color-stop(0, #EDEDED),
		color-stop(0.08, #EAEAEA), color-stop(1, #2F2F2F),
		color-stop(1, #AAAAAA));
	background-image: -o-linear-gradient(top, #EDEDED 0%, #EAEAEA 8%, #2F2F2F 100%, #AAAAAA
		100%);
	background-image: -moz-linear-gradient(top, #EDEDED 0%, #EAEAEA 8%, #2F2F2F 100%, #AAAAAA
		100%);
	background-image: -webkit-linear-gradient(top, #EDEDED 0%, #EAEAEA 8%, #2F2F2F 100%,
		#AAAAAA 100%);
	background-image: -ms-linear-gradient(top, #EDEDED 0%, #EAEAEA 8%, #2F2F2F 100%, #AAAAAA
		100%);
	background-image: linear-gradient(to top, #EDEDED 0%, #EAEAEA 8%, #2F2F2F 100%, #AAAAAA
		100%);
}

.dropdownText {
	font-weight: bold;
	color: red;
}

.floatRight {
	float: right;
	font-size: 18px;
}

.has-error {
	color: red;
}

.generic-container {
	position: fixed;
	width: 95%;
	margin-left: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 20px;
	background-color: #EAE7E7;
	border: 1px solid #ddd;
	border-radius: 4px;
	box-shadow: 0 0 30px black;
}

.custom-width {
	width: 80px !important;
}

body, #mainWrapper, .form-control {
	font-size: 12px !important;
}

#mainWrapper {
	height: 100vh;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}

.login-container {
	margin-top: 100px;
	background-color: floralwhite;
	width: 40%;
	left: 30%;
	position: absolute;
}

.login-card {
	width: 80%;
	margin: auto;
}

.login-form {
	padding: 10%;
}

.authbar {
	margin-bottom: 20px;
	font-family: Tahoma;
	font-size: 18px;
}

.time {
	float: left;
	margin-left: 30px;
	font-weight: bold;
	font-family: Verdana;
}

.user {
	float: right;
	margin-right: 30px;
	font-family: Verdana;
}

.show-on-hover:hover>ul.dropdown-menu {
	display: block;
}