h3 {
	margin: 0px;
	padding: 0px;
}

html, body {
	max-width: 1175px;
	min-width: 1175px;
	margin: 0px auto;
	background-color: #171717;
	text-align: center;
}

.tableInfo {
	color: white;
	family-weight: bold;
	text-align: center;
	font-size: 13px;
}

.tableTop {
	font-size: 16px;
	color: red;
	font-style: italic"
}

.statsButtons {
	margin-left: 10px;
	margin-bottom: 25px;
	margin-right: 11px;
	font-weight: bold;
	font-family: Verdana;
	font-size: 18px;
}

.statsInfo {
	color: white;
	family-weight: bold;
	text-align: center;
	font-size: 20px;
}

.page-title {
	font-size: 175%;
	text-align: left;
	margin: 10px 0px;
	font-style: bold;
	color: red;
}

.productDocument {
	transform: scale(1.0);
	transition: all .2s ease-in-out;
}

.productDocument:hover {
	transform: scale(3);
}

.header-container {
	text-align: center;
	position: static;
	background: #171717;
	color: red;
	width: 1170px;
	padding-right: 5px;
	font-size: 16px;
}

.header-container .header-bar {
	position: relative;
	right: 10px;
	bottom: 20px;
	font-style: bold;
	font-size: 125%;
}

.header-container .header-bar  a {
	color: white;
	font-style: bold;
	font-size: 140%;
}

.product-preview-container {
	border: 1.5px double rgba(255, 255, 255, 0.6);
	width: 325px;
	margin: 20px;
	display: inline-block;
	text-align: left;
	font-weight: bold;
	transition: all 0.2s ease-in-out;
	-webkit-animation: fadeIn 2s ease-in forwards;
}

@
-webkit-keyframes fadeIn {from { opacity:0;
	
}

to {
	opacity: 1;
}

}
.footer-container {
	text-align: center;
	margin-top: 10px;
	padding: 5px 5px 5px 5px;
	border-top: 3px solid #FF0000;
	width: 1170px;
}

.menu-container {
	text-align: right;
}

.menu-container a {
	margin: 5px 5px 5px 10px;
	color: #004d99;
	font-weight: bold;
	text-decoration: none;
}

.site-name {
	font-size: 275%;
	margin: 20px 20px 10px 10px;
	padding: 10px;
	font-family: Impact;
}

.container {
	margin: 0px 0px;
}

.demo-container, .login-container, .account-container {
	padding: 5px;
	border: 1px solid #ccc;
	text-align: left;
	margin: 20px 0px;
}

.customer-info-container {
	font-size: 24px;
	font-family: "Times New Roman";
	text-align: left;
	font-weight: bold;
	border: 2.5px solid #ccc;
	padding: 10px;
	text-align: left;
}

.product-preview-container:hover {
	transform: scale(1.1);
}

}
.product-preview-container input {
	font-family: Arial;
	width: 50px;
}

.product-image {
	width: 300px;
	height: 200px;
	padding-right: -25px;
	padding-top: 10px;
	padding-bottom: 15px;
}

ul {
	list-style-type: none;
	padding-left: 5px;
	margin: 5px;
	font-family: Tahoma;
	font-weigth: bold;
	font-size: 15px;
}

.navi-item {
	margin: 5px 5px 5px 20px;
}

.button-update-sc {
	color: green;
	margin: 5px 5px 5px 20px;
}

.button-send-sc {
	color: red;
	margin: 5px 5px 5px 20px;
}

.error-message {
	font-size: 100%;
	color: red;
	font-style: bold;
}

.price {
	color: red;
	font-weight: bold;
	font-size: 120%;
	font-family: Comic Sans MS;
}

.total {
	color: red;
	font-weight: bold;
	font-size: 300%;
	font-family: Impact;
	text-decoration: underline;
	margin-bottom: 10px;
}

.subTotal {
	color: RED;
	font-weight: bold;
	font-size: 175%;
	font-family: Tahoma;
	text-decoration: underline;
	margin-bottom: 5px;
}

.picsDocs {
	color: RED;
	font-weight: bold;
	font-size: 175%;
	font-family: Tahoma;
	margin-TOP: 20px;
	margin-bottom: 10px;
}

.statsValues {
	color: red;
	font-weight: bold;
	font-size: 110%;
	font-family: Tahoma;
	margin-bottom: 10px;
}

.personalInformation {
	color: red;
	font-weight: bold;
	font-size: 200%;
	font-family: Verdana;
	margin-bottom: 25px;
}

.personalInformation {
	color: white;
	font-weight: bold;
	font-size: 175%;
	font-family: Tahoma;
	margin-bottom: 10px;
}

table td {
	padding: 5px;
}

.navbar.navbar-inverse {
	margin-top: -5px;
	background-image: linear-gradient(#9f9f9f, #535353 3%, #1f1f1f 17%, #212121 49%, #191919
		89%, #000000 100%);
	border-top: 1px inset rgba(255, 255, 255, 0.3);
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
	border-radius: 100px;
}

.navbar .navbar-nav>li>a {
	color: white;
	font-weight: bold;
	text-rendering: optimizeLegibility;
	text-shadow: 0px -1px black, 0px 1px rgba(255, 255, 255, 0.25);
	line-height: 15px;
	text-align: right;
}

a {
	text-decoration: none;
	position: relative;
	display: inline-block;
	text-align: center;
	font-family: Tahoma;
	font-style: bold;
}

a::after {
	content: '';
	width: 100%;
	position: absolute;
	top: 100%;
	left: 0;
	height: 2px;
	background: red;
	transform: scaleX(0);
	transition: transform .35s ease;
}

a:hover::after {
	transform: scaleX(1);
}

li {
	margin-right: 25px;
	color: white;
}

.orderConfirmationHeading {
	position: relative;
	display: inline-block;
	font-family: Tahoma;
	font-style: italic;
	font-size: 20px;
	color: red;
}

.noCars {
	text-align: center;
	font-size: 3rem;
	text-shadow: -1px -1px 1px #aaa, 0px 2px 3px rgba(0, 0, 0, 0.5), 2px
		1.5px 4px rgba(0, 0, 0, 0.2), 0px 0px 3px rgba(0, 0, 0, 0.9);
	font-weight: bold;
	font-family: Tahoma;
	color: white;
}

.cardLabels {
	color: red;
	font-family: Tahoma;
	font-weight: bold;
	font-size: 12px;
}

.customWell {
	min-height: 5px;
	padding: 19px;
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	font-size: 18px;
	font-weight: bold;
	color: red;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	margin: 10px;
}

.customWell:hover {
	color: black;
	border-radius: 75%;
	box-shadow: 0 10px 6px -6px grey;
	text-decoration: none;
}

.form {
	font-size: 18px;
	font-family: Verdana;
	font-weight: bold;
	color: #FF6200;
	margin-left: 200px;
	margin-bottom: 20px;
}

.carInformation {
	font-size: 18px;
	font-family: Verdana;
	font-weight: bold;
	color: #FF6200;
	margin-bottom: 20px;
	.
	label
	{
	color
	:
	white;
}

.input {
	color: black;
}

.credit-card-box .panel-title {
	display: inline;
	font-weight: bold;
}

.credit-card-box .form-control.error {
	border-color: red;
	outline: 0;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px
		rgba(255, 0, 0, 0.6);
}

.credit-card-box label.error {
	font-weight: bold;
	color: red;
	padding: 2px 8px;
	margin-top: 2px;
}

.credit-card-box .payment-errors {
	font-weight: bold;
	color: red;
	padding: 2px 8px;
	margin-top: 2px;
}

.credit-card-box label {
	display: block;
}

.credit-card-box .display-table {
	display: table;
}

.credit-card-box .display-tr {
	display: table-row;
}

.credit-card-box .display-td {
	display: table-cell;
	vertical-align: middle;
	width: 50%;
}

.credit-card-box .panel-heading img {
	min-width: 380px;
}

.customwidth {
	max-width: 480px
}